.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* project id 1939456 */
  src: url('//at.alicdn.com/t/font_1939456_qgume8206b.eot');
  src: url('//at.alicdn.com/t/font_1939456_qgume8206b.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1939456_qgume8206b.woff2') format('woff2'), url('//at.alicdn.com/t/font_1939456_qgume8206b.woff') format('woff'), url('//at.alicdn.com/t/font_1939456_qgume8206b.ttf') format('truetype'), url('//at.alicdn.com/t/font_1939456_qgume8206b.svg#iconfont') format('svg');
}
