header {
  position: fixed;
  width: 100%;
  top: 0px;
}

header>div {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdc;
}

.title {
  /* 粗体 */
  font-weight: bold;
}

.mr {
   /* 右间距 */
   margin-right: 1rem;

}

/* 下方固定菜单 */
footer {
  position: fixed;
  /* position 占满屏幕，有多大占多大 */
  width: 100%;
  /* width:100%; 占满 */
  bottom: 0px;
}

footer>div {
  display: flex;
  justify-content: space-around;
  background-color: #ededed;
  padding: 0.5rem 0px;
  border-top: 1px solid #dcdcdc;
}

.active-icon {
  /* 激活的图标 */
  color: #08c261;
}

/* 
选择器1 选择器2：表示选择器1中的选择器2元素
只要是里面的，不区分有多少级
例如 header div表示只有header里面的div套用
和>号的区别就是：>号只影响第一级，空格是不区分层级
*/
footer .iconfont {
  font-size: 2rem;
}

/* 
fixed定位会遮挡住相邻的元素，所以需要预留空间给固定元素
 */
 main {
   margin-top: 2.6rem;
   margin-bottom: 5rem;
   background-color: #ffffff;
 }

main>div {
  display: flex;
}

/* 右边填满 */
.main-right {
  border-bottom: 1px solid #dcdcdc;
  flex: 1;
}

/* 右边每一行都是压力布局带分散对齐 */
.main-right>div {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

/* 左边图片与顶端距离 */
.main-left {
  padding: 0.3rem;
}

/* 副文本样式 */
.second-text {
  font-size: 0.9rem;
  color: #b6b6b6;
}