.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1552754 */
  src: url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.eot');
  src: url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.woff') format('woff'),
  url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1552754_dxtzl3ogo8w.svg#iconfont') format('svg');
}